@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Verhindert Scrollbalken */
}

#overlay {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; /* Ermöglicht das Positionieren von Kind-Elementen */
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block; /* Entfernt mögliche Lücken unter dem Canvas */
}